.gotopage-input {
    padding: 8px;
    border: 1px solid #7b00ff;
    border-radius: 4px;
    margin: 4px;
    box-sizing: "border-box";
    color: rgb(255, 0, 0);
    background: transparent;
    height: 40px;
    vertical-align: 'middle';
}

.gotopage-icon {
    cursor: pointer;
}
.gotopage-icon:hover,
.gotopage-icon:active {
    color: red;
}
