.item {
    cursor: pointer;
}

.item:hover {
    background-color: #013397;
    color: #ffffff;
}

.selected {
    background-color: #00640c;
    color: #ffffff;
}

.item:active {
    background-color: #9a9a9a;
}

.item td {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}